@page "/add-new";

@inject IBookRepository repository
@inject NavigationManager navigation

<PageTitle>
    Add New Book
</PageTitle>
<div class="row justify-content-center">
    <div class="col-6">
     <BookForm IsEditMode="false" OnValidBookSubmit="AddBook"/>
    </div>

</div>
@code {


    private async Task AddBook(BookEntity book)
    {
        await repository.AddSync(book);
        navigation.NavigateTo("/");
    }
}
